<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/categories"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <span *ngIf="!showResultPage">
        {{ index + 1 }} / {{ words ? words.length : 0 }}
      </span>
      <span *ngIf="showResultPage">
        Eredmény
      </span>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="!showResultPage" (click)="finish()">Befejezés</ion-button>
      <ion-button *ngIf="showResultPage" (click)="restart()">Újrakezdés</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="word && !showResultPage" class="word-wrapper" [ngClass]="status">
    <div class="word">
      {{ word.original }}
    </div>
    <div class="right-answer" *ngIf="submitted">
      -
      <br>
      {{ word.translate }}
    </div>
  </div>
  <ion-list *ngIf="showResultPage" class='result-list'>
    <ion-item class="word-item" *ngFor="let word of words">
      <ion-label class='word'>{{word.original}} - {{word.translate}}</ion-label>
      <div class="score" slot='end'>
        <span class="correct">{{word.correct ? word.correct : 0}}x</span>
        <span class="wrong">{{word.wrong ? word.wrong : 0}}x</span>
      </div>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer *ngIf="!showResultPage">
  <form (ngSubmit)="onSubmit()">
    <ion-list lines='none'>
      <ion-item>
        <ion-input type="text" placeholder="answer" (keyup.enter)="onSubmit()" [(ngModel)]="answer" name='answer' [disabled]='submitted'></ion-input>
        <ion-buttons slot="end">
          <ion-button *ngIf="!submitted" type='submit'>
            <ion-icon name="send"></ion-icon>
          </ion-button>
          <ion-button type='button' *ngIf="submitted" (click)="next()">
            Next
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </form>
</ion-footer>
