.word-wrapper {
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &.default {
    background-color: blue;
  }

  &.correct {
    background-color: green;
  }

  &.wrong {
    background-color: red;
  }

  .word,
  .right-answer {
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
  }
}

.result-list {
  height: 100%;

  .correct,
  .wrong {
    font-weight: 800;
    padding: 5px;
  }

  .correct {
    color: green;
  }

  .wrong {
    color: red;
  }
}

ion-footer {
  ion-list.list {
    margin-bottom: 0;
  }
}